bitnami_application_password
bitnami_credentials
.gitconfig
.gitconfig.save
.ssh
node_modules
bin
.cache
.config
.mongodb
.npm
.vscode-server
myapp
public
todo
.bash_history
.bashrc
.profile
.vininfo
.wget-hsts

