extends layout

block content
  include ./partials/nav
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/blog", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="blogtitle") blogtitle
          .col-xs-12.col-sm-10
            input#blogtitle.form-control(name="blogtitle")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="blogtext") blogtext
          .col-xs-12.col-sm-10
            input#name.form-control(name="blogtext")
        .form-group
          label.col-sm-2.control-label(for="createdDate") createdDate
          .col-sm-10
            textarea#review.form-control(name="createdDate")
        button.btn.btn-default.pull-right Add my review
    .col-xs-12.col-md-4
            
