extends ../layout

block content
    include ../partials/nav
    h1= title
    form(action='/blog/add' method="post")
        .mb-3.mt-3
            label.form-label(for="blogtitle") Blog title
            input#blogtitle.form-control(type="text", placeholder="Blog title", name="blogtitle")
        .mb-3
            label.form-label(for="blogtext") Blog text
            textarea#blogtext.form-control(name="blogtext", cols="30", rows="10")
        button.btn.btn-primary(type="submit") Submit
