block blog-message
    .alert.alert-success.alert-dismissible
        button#alert-message.btn-close(type="button", data-bs-dismiss="alert")
        strong= message

block scripts
    script.
        window.onload = function () {
            alertId = setInterval(closeAlert, 1500);
            function closeAlert() {
                clearInterval(alertId);
                document.getElementById("alert-message").click();
            }
        }