import bootstrap from 'bootstrap';
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/list">List Blogs</a>
        <a class="nav-item nav-link active" href="/add">Add Blog</a>
        </div>
    </div>
</nav>