
block PrimaryNavigation
  - var NavItems = [{'url':'home','title':'Home', 'img':'nav','key':'home'},{'url':'about-us','title':'About Us', 'img':'nav','key':'about-us'}];

header
  each page,i in NavItems
    if PageID === page.url
      a(class="active", href= + page.url + '.html')
        svg
          use(xlink:href= 'img/sprites/' + page.img + '.svg#' + page.key)
        span.name= page.title
    else
      a(href= page.url + '.html')
        svg
          use(xlink:href= 'img/sprites/' + page.img + '.svg#' + page.key)
        span.name= page.title