extends layout

block content
  include ./partials/nav
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each blog in blogs
          .col-xs-12.list-group-item
            h4 
              a(href="/blog")= blog.blogtitle\n
              a(href="/blog")= blog.blogtext
              span.badge.pull-right.badge-default= blog.createdDate
    .col-xs-12.col-sm-4 
      p.lead= sidebar
