extends ../layout

block content
    h1= title
    form(action='/blog/'+blog._id+'/delete' method="post")
        .mb-3.mt-3
            label.form-label(for="blogTitle") Blog Title
            input#blogTitle.form-control(type="text", placeholder="Blog Title", name="blogTitle", value=blog.blogTitle, readonly)
        .mb-3
            label.form-label(for="blogText") Blog Text
            textarea#blogText.form-control(name="blogText", cols="30", rows="10", readonly)= blog.blogText
        button.btn.btn-danger(type="submit") Delete