extends ../layout

block content
    h1= title
    if error
        include ./blog-error
    else if message
        include ./blog-message
    form(action='/blog/'+blog._id+'/save' method="post")
        .mb-3.mt-3
            label.form-label(for="blogTitle") Blog Title
            input#blogTitle.form-control(type="text", placeholder="Blog Title", name="blogTitle", value=blog.blogTitle)
        .mb-3
            label.form-label(for="blogText") Blog Text
            textarea#blogText.form-control(name="blogText", cols="30", rows="10")= blog.blogText
        button.btn.btn-primary(type="submit") Submit