extends ../layout

block content
  h1= title
  if error
    include ./blog-error
  else if message
    include ./blog-message
  each blog, idx in blogs
    .card
      .card-body
        h4.card-title= blog.blogTitle
        p.card-text= blog.blogText
        ul.nav.nav-pills.justify-content-end
          li.nav-item 
            a.nav-link(href="/blog/"+blog._id+"/edit")
              i.bi.bi-pencil-square 
              span Edit
          li.nav-item
            a.nav-link(href="/blog/"+blog._id+"/delete")
              i.bi.bi-trash3
              span Delete
    