extends layout

block content
  h1= title
  p Eric Almonrode's Biography 
  P I am a senior computer science major at Millersville University 
  P I enjoy playing video games and reading in my free time 
  P My favorite games are Honkai Star Rail and League of Legends 
  P My favorite books are Oshi no Ko and Omniscient Reader Viewpoint
